@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
  font-family: 'Open Sans', 'Myriad Pro', sans-serif;
  font-size: 14px;
  color: #333333;
  line-height: 1;
}

p, ul, ol {
  line-height: 21px;
}

ul {
  margin: 0;

  @media @media_mobile {
    line-height: 18px;
  }
}

ol {
  li {
    margin: 20px 0;
  }
  @media @media_mobile {
    line-height: 18px;
    margin: 10px 0;
  }
}

h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 55px 0 26px 0;

  @media @media_mobile {
    font-size: 20px;
    margin: 10px 0;
  }

}

h2 {
  font-size: 14px;
  font-weight: 700;
}

input, select {
  color: #aeaeae;
  height: 38px;
  padding-left: 5px;
}

img {
  width:100%;
  height: auto;
}

.image__wrapper {
  .handheld-centered;
  overflow: hidden;
}



