@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@media screen and (max-width: 992px) {
  .handheld-centered {
    text-align: center;
  }
}
body {
  font-family: 'Open Sans', 'Myriad Pro', sans-serif;
  color: #333333;
  line-height: 1;
  font-size: 14px;
}
p,
ul,
ol {
  line-height: 21px;
}
ul {
  margin: 0;
}
@media all and (max-width: 480px) and (min-width: 320px) {
  ul {
    line-height: 18px;
  }
}
ol li {
  margin: 20px 0;
}
@media all and (max-width: 480px) and (min-width: 320px) {
  ol {
    line-height: 18px;
    margin: 10px 0;
  }
}
h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 55px 0 26px 0;
}
@media all and (max-width: 480px) and (min-width: 320px) {
  h1 {
    font-size: 20px;
    margin: 10px 0;
  }
}
h2 {
  font-size: 14px;
  font-weight: 700;
}
input,
select {
  color: #aeaeae;
  height: 38px;
  padding-left: 5px;
}
img {
  width: 100%;
  height: auto;
}
.image__wrapper {
  overflow: hidden;
}
@media screen and (max-width: 992px) {
  .image__wrapper {
    text-align: center;
  }
}
.form__btn {
  margin: 22px 0;
  padding: 10px 0;
  background-color: #f13037;
  text-align: center;
  width: 95%;
  transition: all 0.3s ease-in-out;
}
.form__btn a {
  font-size: 18px;
  color: #ffffff;
  line-height: 1;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}
.form__btn:hover {
  background-color: #f79093;
}
.overview__link {
  color: #1a76cb;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  margin-left: 60px;
  margin-right: 25px;
}
.overview__link:before {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  height: 32px;
  width: 31px;
  left: -56px;
  top: -5px;
}
.social-link {
  position: relative;
}
.social-link:before {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  height: 21px;
  width: 21px;
  left: -32px;
}
.header {
  height: 82px;
  border-bottom: 4px solid #54b948;
  overflow: hidden;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .header {
    text-align: center;
  }
}
.header__wrapper {
  padding: 0 -10px;
}
.header .veeam-logo {
  margin: 17px 0;
  width: auto;
}
.header .blue-wrapper {
  height: 82px;
  background-color: #0067c5;
  float: right;
}
@media screen and (max-width: 991px) {
  .header .blue-wrapper {
    display: none;
  }
}
@media screen and (min-width: 1580px) {
  .header .blue-wrapper {
    width: 30%;
  }
}
.bonus {
  background-color: #0067c5;
  transform: skewX(-40deg);
  -webkit-transform: skewX(-40deg);
  border-left: 18px solid #54b948;
}
.bonus__content {
  transform: skewX(40deg);
  -webkit-transform: skewX(40deg);
  padding-left: 24px;
  padding-top: 5px;
}
.bonus__text {
  font-size: 19px;
  margin: 0;
  color: #fff;
}
.bonus__sm-text {
  color: #fff;
  margin: 0.6em;
}
.banner {
  background: transparent url(../images/banner_bg2.jpg) center no-repeat;
  overflow: hidden;
  -webkit-background-size: cover;
  background-size: cover;
}
.banner__wrapper {
  background-color: #0067c5;
  margin-top: 25px;
  margin-bottom: 60px;
  padding-left: 33px;
  overflow: hidden;
}
@media all and (max-width: 480px) and (min-width: 320px) {
  .banner__wrapper {
    padding-left: 10px;
  }
}
.banner__badge {
  display: inline-block;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  color: #f13037;
  line-height: 1;
  text-align: left;
  padding: 6px 15px;
  font-weight: 700;
  margin-top: 45px;
  margin-bottom: 5px;
}
.banner__logo {
  width: auto;
}
.banner__text {
  font-size: 30px;
  color: #ffffff;
  line-height: 41px;
  text-align: left;
  margin-bottom: 40px;
}
@media all and (max-width: 480px) and (min-width: 320px) {
  .banner__text {
    font-size: 15px;
  }
}
.form {
  background-color: #1a76cb;
  border: 2px solid #3482ca;
  margin: 30px 0;
}
.form__heading {
  font-size: 18px;
  color: #ffffff;
  line-height: 28px;
  text-align: center;
  margin: 5px 0 !important;
}
.form__input {
  width: 95%;
  margin-bottom: 13px;
}
.intro {
  background-color: #e5e9ee;
}
.intro .intro__article {
  padding-left: 30px;
}
.intro__image {
  margin-top: 45px;
}
@media screen and (max-width: 992px) {
  .intro__image {
    text-align: center;
  }
}
.intro__text {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  text-align: left;
  margin-top: 40px;
  padding-left: 20px;
}
@media all and (max-width: 480px) and (min-width: 320px) {
  .intro__text {
    padding-left: 0;
    font-size: 16px;
    color: #444444;
    line-height: 20px;
    text-align: left;
  }
}
.intro .overview__links {
  margin-bottom: 68px;
}
@media screen and (max-width: 768px) {
  .intro .overview__links a {
    display: block;
    margin-bottom: 25px;
  }
}
.intro .overview__links a:before {
  left: -46px;
}
.overview__link--chart:before {
  background-image: url(../images/overview_icon.png);
}
.overview__link--video {
  display: block;
  margin-bottom: 25px;
}
.overview__link--video:before {
  background-image: url(../images/video_icon.png);
}
.overview__link--read {
  display: block;
  margin-bottom: 60px;
}
.overview__link--read:before {
  background-image: url(../images/read_icon.png);
}
.navigation {
  border-bottom: 2px solid #e9e9e9;
}
@media all and (max-width: 480px) and (min-width: 320px) {
  .navigation__blocks {
    display: none;
  }
}
.navigation--fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000000;
}
.navigation__link {
  padding: 35px 0;
  display: block;
  font-size: 20px;
  color: #444444;
  text-transform: uppercase;
  font-weight: 700;
}
@media screen and (max-width: 992px) {
  .navigation__link {
    text-align: center;
  }
}
.navigation__link:hover,
.navigation__link:active {
  color: #54b948;
}
@media all and (max-width: 480px) and (min-width: 320px) {
  .navigation__link {
    padding: 15px 0;
  }
}
.navigation__btn {
  font-size: 20px;
  color: #ffffff;
  line-height: 1;
  text-align: center;
  padding: 35px 0;
  display: block;
  background-color: #f13037;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  text-transform: uppercase;
}
.navigation__btn:hover {
  background-color: #f79093;
  color: inherit;
}
@media all and (max-width: 480px) and (min-width: 320px) {
  .navigation__btn {
    padding: 15px 0;
  }
}
.mobile-trigger {
  display: none;
}
@media all and (max-width: 480px) and (min-width: 320px) {
  .mobile-trigger {
    display: block;
    padding: 10px 0;
  }
}
.benefits .overview__links {
  margin-bottom: 28px;
}
.benefits .left-column > img {
  display: block;
  margin: 27px auto 6px;
}
.benefits .right-column > img {
  display: block;
  margin: 40px auto 0;
}
.benefits img.veeam__cloud {
  display: block;
  margin: 11px auto 56px;
}
@media screen and (max-width: 992px) {
  .benefits img.veeam__cloud {
    max-width: 650px;
  }
}
.backups {
  background-color: #e5e9ee;
  padding-bottom: 50px;
  padding-top: 10px;
}
@media screen and (max-width: 992px) {
  .backups__image {
    text-align: center;
  }
}
.backups-line {
  height: 2px;
  background-color: #cfd5dc;
}
.backups .overview__link--video {
  margin-bottom: 25px;
}
.backups .overview__link--read {
  margin-top: 20px;
}
.recovery {
  padding-bottom: 63px;
}
.recovery .overview__link--read {
  margin-bottom: 70px;
}
.recovery li {
  margin: 15px 0;
}
.recovery img.recovery__scheme {
  margin-bottom: 60px;
}
@media screen and (max-width: 992px) {
  .recovery img.recovery__scheme {
    max-width: 650px;
  }
}
.about {
  background-color: #e5e9ee;
  overflow: hidden;
  padding-bottom: 30px;
}
.about__heading {
  margin-bottom: 40px;
}
.about p {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  text-align: left;
}
@media all and (max-width: 480px) and (min-width: 320px) {
  .about p {
    font-size: 16px;
    color: #444444;
    line-height: 20px;
    text-align: left;
  }
}
.footer {
  background-color: #393939;
  padding-top: 22px;
  overflow: hidden;
}
.footer__wrapper {
  margin-bottom: 250px;
}
@media all and (max-width: 480px) and (min-width: 320px) {
  .footer__wrapper {
    margin-bottom: 50px;
  }
}
.footer__column {
  border-left: 1px solid #fff;
}
.footer ul {
  padding: 0;
  list-style: none;
}
.footer p {
  font-size: 12px;
  color: #fff;
  margin: 0;
}
.footer a {
  display: block;
  font-size: 12px;
  color: #ffffff;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 6px;
  margin-left: 30px;
}
.footer .social-wrapper {
  padding-left: 35px;
  padding-bottom: 28px;
}
@media screen and (max-width: 992px) {
  .footer__copy {
    margin-bottom: 20px;
  }
}
.social-link--fb:before {
  background-image: url(../images/fb_icon.png);
}
.social-link--tw:before {
  background-image: url(../images/tweet_icon.png);
}
.social-link--ld:before {
  background-image: url(../images/ld_icon.png);
}
.social-link--yt:before {
  background-image: url(../images/utube_icon.png);
}
